development:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  telegram:
    bots:
      muul:
        token:    <%= ENV['TELEGRAM_TOKEN_M'] %>
        username: <%= ENV['TELEGRAM_USERNAME_M'] %>
        webhook_token: <%= ENV['TELEGRAM_WEBHOOK_TOKEN_M'] %>

test:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  telegram:
    bots:
      muul:
        token:    <%= ENV['TELEGRAM_TOKEN_M'] %>
        username: <%= ENV['TELEGRAM_USERNAME_M'] %>
        webhook_token: <%= ENV['TELEGRAM_WEBHOOK_TOKEN_M'] %>

production:
  secret_key_base: <%= ENV['SECRET_KEY_BASE'] %>
  telegram:
    bots:
      muul:
        token:    <%= ENV['TELEGRAM_TOKEN_M'] %>
        username: <%= ENV['TELEGRAM_USERNAME_M'] %>
        webhook_token: <%= ENV['TELEGRAM_WEBHOOK_TOKEN_M'] %>
